{{ define "main" }}

    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        {{ if .Title }}
        <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
        </header>
        {{ end }}
        <div class="post-content" itemprop="articleBody">
        {{ .Content }}
        </div>
        <p class="post-meta">
        — <time datetime="{{ .Date.Format "2006-01-02T15:04:05+07:00" }}" itemprop="datePublished">
        {{ .Date.Format "2 Jan 2006" }}
        </time>
        {{ $taxonomy := "tags" }}
        {{ with .Param $taxonomy }}
        {{ $tags := delimit . ", " }}
        •  {{ $tags }}
        {{ end }}
        </p>
    </article>

{{ end }}