{{ define "main" }}
    {{ .Content }}
    <ul class="post-list">
    {{ range first 10 (( where .Site.RegularPages "Type" "post" ).GroupByDate "2 Jan 2006") }}
      <li><div class="post-meta">{{ .Key }}</div>
      {{ range .Pages }}
      <ul class="post-list">
        <li>
          {{ if eq .Params.layout "photo" }}
              <div class="photo">
                {{ .Content }}
                <a class="photo_url" href="{{ .Permalink }}">¶</a>
              </div>
            {{ else }}
              {{ if eq .Params.layout "note" }}
              <div class="note">
                {{ .Content }}
                <a class="note_url" href="{{ .Permalink }}">¶</a>
                <hr>
              </div>
              {{ else }}
                <h2>
                  <a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
                </h2>
                {{ .Render "summary" }}
                {{ if .Truncated }}
                <p class="more-link"><a href="{{ .Permalink }}">Continue reading →</a></p>
                {{ end }}

              {{ end }}
            {{ end }}
          </li>
      {{ end }}
    {{ end }}
    </ul>

    <p class="center">∙ <a href="/archives">Older Posts</a> ∙</p>

{{ end }}

